@import "tailwindcss";

/* 1. Definimos tus colores y fuentes personalizadas para Tailwind */
@theme {
  --color-chocolate: #1a1512;
  --color-arena: #e8e6e3;
  --color-rojo: #e41e26;

  --font-inter: 'Inter', sans-serif;
  --font-lora: 'Lora', serif;
  --font-satisfy: 'Satisfy', cursive;
}

/* 2. Aplicamos estilos base globales que no cambian (H1, H2, H3 y la fuente del Body) */
@layer base {
  body {
    font-family: var(--font-inter);
  }
  h1, h2, h3 {
    font-family: var(--font-lora);
  }
}